<div class="research-item">
    <div class="image-container">
      <img src="{{ include.image }}" alt="{{ include.title }}" class="project-image">
    </div>
    <div class="project-description">
      <h3>{{ include.title }}</h3>
      <p>{{ include.description | markdownify }}</p>
      <p>
        {% if include.project_link %}
          <a href="{{ include.project_link }}">Project Page</a>
        {% endif %}
        {% if include.paper_link %}
          {% if include.project_link or include.video_link %} | {% endif %}
          <a href="{{ include.paper_link }}">Paper</a>
          {% if include.journal or include.year %}
            ({% if include.journal %}{{ include.journal }}{% endif %}{% if include.journal and include.year %}, {% endif %}{% if include.year %}{{ include.year }}{% endif %})
          {% endif %}
        {% endif %}
      </p>
    </div>
  </div>