---
layout: page
---

<p>I&#39;m a PhD student in <a
    href="https://www.helmholtz-munich.de/icb/research/labs/machine-learning/overview/index.html">Fabian Theis&#39;
    group</a>, at the <a href="https://www.helmholtz-munich.de/computational-health-center/index.html">Computational
    Health Center, Helmholtz Munich, Germany</a>
  and the <a href="https://www.mu-ds.de/">Munich School for Data Science</a>.</p>
<h3 id="news">News</h3>
<ul>
  <li><strong>[September 2022]</strong> I will give a talk at the <a href="https://eccb2022.org/ntb-w04/">ECCB 2022 -
      Workshop on Spatial Transcriptomics and cell-cell
      communication modelling</a>.</li>
  <li><strong>[July 2022]</strong> <a
      href="https://icml-compbio.github.io/2022/papers/WCBICML2022_paper_44.pdf">Poster</a> at <a
      href="https://icml-compbio.github.io/index.html">ICML 2022 - Workshop on Computational
      Biology</a> - <strong>Uncertainty Quantification for Atlas-Level Cell
      Type Transfer</strong>.</li>
  <li><strong>[April 2022]</strong> I will be an instructor at the Swiss Institute for Bioinformatics
    <a href="https://www.sib.swiss/training/course/20220426_ADVSC">course</a> on <strong>Advanced topics in
      single-cell analysis</strong> in Basel.
  </li>
</ul>